# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/LearnOpenGL/v16/.suo
.vs/LearnOpenGL/v16/Browse.VC.db
LearnOpenGL/Debug/LearnOpenGL.log
LearnOpenGL/Debug/LearnOpenGL.log
LearnOpenGL/Debug/LearnOpenGL.tlog/CL.command.1.tlog
LearnOpenGL/Debug/LearnOpenGL.tlog/CL.read.1.tlog
